:root {
  --background: #ffffff;
  --BG-Primary: #191919;
  --Text-Primary: #fff;
  --Text-Secondary: #EEECE8;
  --Accent-Yellow: #FFD300;
  --Text-Disabled: #848587;
  --Grayscale-40: #4D4D4D;
  --Text-Accent: #191919;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--Text-Primary);
  background: var(--BG-Primary);
  font-family: var(--font-instrument-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
