
.headSectionWrapper {
  background: url("/island-view.png") -835.571px -183.265px / 387.306% 124.137% no-repeat;
}

.headSection {
  display: flex;
  flex-direction: column;
  min-height: 780px;
}

.page .worthSection {
  display: flex;
  flex-direction: column;
}


.videoSection {
  display: flex;
  flex-direction: column;
}

.highlight {
  letter-spacing: 6px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 22px;
  height: auto;
}

.videoImage {
  position: relative;
  height: 600px;
  background: url("/kick.png") -7.211px -57.145px / 194.919% 111.429% no-repeat;
  border-radius: 16px;
  margin-bottom: 24px;
}

.optional {
  position: absolute;
  top: 23px;
  left: 18px;
  transform: rotate(-4deg);
}

.videoImage .playIcon {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 32px;
  right: 32px;
}

.mainHeading {
  margin-top: 86px;
  line-height: 100%;
}

.paragraph {
  margin-top: 2px;
  color: var(--Text-Secondary);
}

.headButton {
  margin-top: auto;
}

.cardText {
  max-width: 204px;
  line-height: 22px;
}

.cardWorth {
   width: 100%;
}

.cardBook {
  width: 100%;
}

.bookBtn {
  text-transform: uppercase;
  margin-left: auto;
  font-size: 14px;
}

.highlightBooking {
  letter-spacing: 3px;
}

.bookinCards {
  margin-top: 22px;
}


@media (min-width: 376px) {

  .headSectionWrapper {
    background: none;
    background-image: url("/island-view.png");
    background-size: cover;       
    background-repeat: no-repeat;
    background-position: center;
  }


  .headSection {

    min-height: 800;
  }

  .videoImage {
    position: relative;
    height: 600px;
    background: none;
    border-radius: 16px;
    background-image: url("/kick.png");
    background-size: cover;       
    background-repeat: no-repeat;
    background-position: center;
  }


}

@media (min-width: 768px) {

    .headSectionWrapper {
      background: none;
      background-image: url("/decorative-dash-line.png"), url("/island-view.png");
      background-size: contain, cover;
      background-repeat: no-repeat, no-repeat;
      background-position: top center, center;
    }


    .headSection {

        background-position: center;
        align-items: flex-start;
    }

    .cards {
      flex-direction: row;
      margin-top: 42px;
    }

    .mainHeading {
      margin-top: 25px;
      max-width: 1100px
    }

    .highlight {
      letter-spacing: 10px;
    }


    .paragraph {
      max-width: 747px;
    }

    .headButton {
      margin-top: 84px;
    }

    .videoImage {
      width: 791px;
      height: 728px;
      margin-bottom: 0;
    }

    .videoSection {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 40px;
    }

    .cardWorth {
      width: 324px;
      height: 300px;
    }

    .bookinCards {
      margin-top: auto;
    }
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}