

.galleryGroup {
    position: relative;
}

.image {
    width: 100%;
    height: 260px;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.tabs {
    display: flex;
    justify-content: center;
    gap: 4px;
}
.tab {
    all: unset;
}


@media (min-width: 768px) {
  .image {
    padding: 32px;
    height: 780px;
  }

  .image::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    /* wide inner shadow overlay */
    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.6);
    pointer-events: none; /* so it doesn’t block buttons/text */
    }

  .tabs {
    position: absolute;
    bottom: 32px;
    padding: 0 32px;
    font-size: 16px;
  }

  .tabActive {
    border-top: white 4px solid;
  }
}
